# Python Cache
*__pycache__*
*.py[cod]
# pytest cache
.pytest_cache/
# Obsidian cache
paper/.obsidian/
# Jupiter Cache
.ipynb_checkpoints
# backup files
*.back
# docs folder
docs/build/
# vscode
.vscode/
# python env
.venv/
# generated outputs
outputs/
# coverage file
*.coverage
# macOS
.DS_Store
# matlab asv files
*.asv
# virtual documents
.virtual_documents/
# simulink slprj folder
**/slprj/
# simulink .slxc files
*.slxc
# simulink autosave files
*.slx.autosave
